<style>
   .web-title {
        color: crimson;
        font-family: "Poppins", sans-serif !important;
        font-weight: 900 !important;
    }
 
</style>


<nav class="navbar navbar-expand-md navbar-light sticky-top mb-3" style="background-color: #ffffff; border: none;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/listings">
            <i class="fa-solid fa-location-arrow"></i>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav me-auto">
                <a class="nav-link" href="/listings" style="font-size: 1.5rem;">Explore</a>
            </div>
            <!-- <div class="navbar-nav  ms-auto search">
                <form class="d-flex" id="searchForm">
                    <select class="form-control me-2 search-bar" type="search" placeholder="Search" aria-label="Search" id="searchQuery">
                   
                        <option value="">Select Country</option>
                        Options will be populated dynamically
                    </select>
                    <button class="btn btn-outline-success btn-search" type="submit"><i class="fa-brands fa-searchengin"></i>Search</button>
                </form>
                
                
            </div> -->
            <div class="navbar-nav  m-auto web-title">
                <h1 style="font-family:Poppins, sans-serif !important; font-weight:900">WANDERLUST</h1>
            </div>
            <div class="navbar-nav ms-auto">
                <a class="nav-link" href="/listings/new">Add new listing</a>
                <% if (!currentUser) { %>
                    <a class="nav-link" href="/signUp"><b>Sign Up</b></a>
                    <a class="nav-link" href="/login"><b>Log in</b></a>
                <% } %>
                <% if (currentUser) { %>
                    <a class="nav-link" href="/logout"><b>Log out</b></a>
                <% } %>
            </div>
        </div>
    </div>
</nav>

    
